<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="bg-dark">
    <div class="col-100">
      <h1 class="color-white">
        Login
      </h1>
    </div>
  </header>
  <section>
    <div class="col-30 bg-grey">
      <form action="/" method="post">
        <br>
        <br>
        <input type="text" id ="login" name="login" placeholder="Login">
        <span class="mensagemLogin">  Validação do login </span>
        <input type="password" id="password" name="senha" placeholder="Senha">
        <span class="mensagemPassword">  Validação da senha </span>

        <button type="submit">Login</button>
        

      </form>
      <form action="/">
        <button type="submit">Voltar</button>
    </form>
    </div>

    <script src="javascripts/app.js"></script>
    
  </section>
</body>

</html>