* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --blue-clr: #3366cc;
    --black-clr: #161616;
    --white-clr: #fff;
}

.idiomas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}
main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

img{
    width: 100%;
}

.principal h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.principal h2::first-letter {
    font-size: 2.3rem;
}
.principal h2::after { 
    content: 'a';
    font-size: 2.3rem;
}

/* Configuração das "sub caixas"*/
.caixaDetalhes {
    margin: 1.3rem 0;
    padding: .2rem 1rem;
    cursor: pointer;
}
.caixaDetalhes:hover {
    background-color: rgba(47, 101, 209, 0.1);
}
.caixaDetalhes h4 {
    color: var(--blue-clr);
    font-size: .9rem;
}
.caixaDetalhes:hover h4 {
    text-decoration: underline; 
}
.caixaDetalhes p {
    font-size: .8rem;
    color: var(--black-clr);
}

.colunaEsquerda{
    transform: translateY(-2%);
}

.colunaDireita{
    transform: translateY(-2%);
}

/*caixa de pesquisa*/
.pesquisar {
    display: flex;
    transform: translateY(-50%);
}

.pesquisar input {
    width: 395px;
    height: 45px;
    font-size: 1rem;
    padding: 0 .5rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .4);
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.pesquisar input:focus {
    border-color: var(--blue-clr);
    border-width: 3px;
}
.pesquisar span {
    display: inline-block;
    width: 55px;
    height: 45px;
    background-color: var(--blue-clr);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

a {
    text-decoration: none;
    color: var(--blue-clr);
}
a:hover {
    text-decoration: underline; /*sublinhado*/
}

.your-lang-wiki-container {
    width: 460px;
    display: flex;
    align-items: center;
    transform: translateY(-20%);
}
.your-lang-wiki {
    color: var(--blue-clr);
    border: 1px solid var(--blue-clr);
    background-color: rgba(51, 102, 204, .05);
    border-radius: .2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin: 0 1rem;
}
.line {
    height: 1px;
    background-color: #c5c5c5;
    flex: 1;
}
.your-lang-wiki span:nth-child(2) {
    margin: 0 .5rem;
    font-size: .8rem;
    font-weight: 600;
}
.your-lang-wiki:hover {
    background-color: transparent;
}

.searchLanguage{
    position: absolute;
    right: 16.43%;
    bottom: 15%;

    width: 52px;
    height: 25px;
}

/*Responsividade para telas menores*/

@media (max-width: 765px){
   
    .colunaEsquerda{
        transform: translateX(+20%);
    }
    
    .colunaDireita{
        transform: translateX(-20%);
    }
    
}
